@charset "UTF-8";

header {
  text-align: center;
  /*background-color: #0BD478;*/
}

nav {
  width: 100%;
  position: absolute;
  text-align: center;
  height: auto;
}

nav ul {
  position: relative;
  margin: 20px auto;
  height: auto;
}

nav li {
  /* background-color: blue; */
  list-style: none;
  display: inline;
  margin-right: 40px;
}

nav li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: 0.3s;
}

nav li a:visited {
  color: #fff;
}


nav li a:hover {
  padding-bottom: 5px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}
