@charset "UTF-8";





/*POST 1*/

.post-1 {
  width: 33%;
  height: 700px;
  position: relative;
  float: left;
  cursor: pointer;
}

.post-1:hover .post-s {
  width: 100%;
}


.post-1 .img {
  background-image: url('../Image/img1.png');
  display: block;
  width: 100%;
  height: 700px;
}

.post-s {
  text-align: center;
  font-size: 24px;
  width: 0px;
  height: 700px;
  background: rgba(0, 232, 154, 0.71);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}

.post-s h2 {
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}

.post-s h3 {
  padding: 10px;
    border: 4px solid #fff;
    font-weight: 300;
}
